@charset "UTF-8";

body,html{
	margin: 0;
	padding: 0;
	overflow-y:scroll;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -300px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #0492ff;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 26px;
    background: #007bff;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.adIcons:hover{
	opacity: .35;
}

.list-unstyled li{
	background:#0492ff;
	border-bottom: 1px solid #007bff;
}

#sidebar ul li a:hover {
    color: #0492ff;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #007bff;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0492ff;
}

#categories a{
	color:#007bff;
}

#categories a:hover{
	color:#000099;
}

#clickChangeMessage a{
	color:red;
}

.adLikes {
	
	padding-right:5px;
	font-size:20px;
	color:green;
	font-weight: bold
	
}

.adDislikes {
	
	padding-left:5px;
	font-size:20px;
	color:red;
	font-weight: bold
	
}

.card-footer {
	padding:12px 7px;
}

.adReviewText{
	
	font-size:16px;
	margin-bottom:5px;
	
}

.adReviewGrades {
	
	display:inline-block;
	margin-top:10px;
	height:30px;
	color:#9E9E9E;
}

#accLikes{
	color:green;
}

#accDislikes{
	color:red;
}

.accVotes {
	font-size:20px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	float:right;
}

.recensionClicks{
	color:#007bff;
	margin-left:10px;
	font-size:16px;
}

.recensionClicks:hover{
	color:#000099;
}
	